
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p{
    text-align: justify;
    text-indent: 6px;
    font-size: 1em;
}

.card{
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
}
img{
    height: 20rem;
}